<?xml version="1.0" encoding="utf-8" ?>
<TCSmartFramework.Injector>
<Injector interface="JQEBookingTest.IBusiness.TableBusiness.IAdminServices" file="JQEBookingTest.Business.dll" instance="JQEBookingTest.Business.TableBusiness.AdminServices"></Injector>
<Injector interface="JQEBookingTest.IBusiness.TableBusiness.IJQResourceServices" file="JQEBookingTest.Business.dll" instance="JQEBookingTest.Business.TableBusiness.JQResourceServices"></Injector>
<Injector interface="JQEBookingTest.IBusiness.TableBusiness.IOrderTableServices" file="JQEBookingTest.Business.dll" instance="JQEBookingTest.Business.TableBusiness.OrderTableServices"></Injector>
</TCSmartFramework.Injector>
