<?xml version="1.0" encoding="utf-8" ?>
<TCSmartFramework.DataAccess>
<Database name="JQEBooking">
<read>
 <server enabled="true" connectionString="user id=sa;password=511217;DataBase=JQEBooking;server=192.168.0.106;" />
</read>
<write>
  <server enabled="true" connectionString="user id=sa;password=511217;DataBase=JQEBooking;server=192.168.0.106;" />
</write>
</Database>
</TCSmartFramework.DataAccess>
