body{
	font-family:"Microsoft YaHei UI";	
}
#head{
	width:800px;	
}
#logo,#findPwd{
	float:left;
	margin-left:300px;
	margin-top:34px;
}
#logo a img{
	border:0px;	
}
#findPwd{
	margin-top:48px;
	height:30px;
	border-left:1px solid #9F9F9F;	
	margin-left:30px;
	
}
#findPwd span{
	font-size:25px;
	font-weight:bold;
	color:#6D6B6B;	
	margin-left:20px;
	margin-top:5px;
}
#main{
	border:1px solid;
	border-color:#EEEEEE;
	margin:0 auto;
	margin-top:40px;
	width:690px;
	height:275px;	
}

#img{
	background:url(../Images/btn_1.png) 0 4px no-repeat;
	width:17px;
	height:17px;
	display:inline-block;
	margin-left:20px;
	margin-top:12px;
}
#main-head .imgNote{
	font-size:13px;
	color:#666;
	height:20px;
	line-height:20px;
}
.err span{
	/*font-size:12px;
	color:#F00;*/
	
}
.err{
	height:50px;
	margin-left:220px;
	width:500px;
	color:#666;
}
#main-body{
	margin-top:15px;
	border-top:1px solid #EEEEEE;	
}
#errName{
	margin-top:60px;	
}
#next{
	margin-left:262px;
	}
#next .btnYellow{
	background-color:#EC8C0A;
	padding:6px 20px;
	border:1px solid #fff;	
	text-align:center;
	color:#FFF;
}
#userName, #phoNum{
	height:20px;	
	width:180px;
}
#bottom{
	text-align:center;
	border-top:1px solid #EEEEEE;
	padding:10px 0;
	width:1080px;
	margin:0 auto;
	margin-top:125px;
}
#bottom span{
	font-size:13px;
	color:#999;
}
#nextBtn:hover{
	background-color:#FC0;	
}
.err input{
	border:1px solid #999;	
}
#clear-float{
	clear:both;	
}
#position{
	width:1366px;	
}
