/*----------------------header---------------*/
.head
{
    height:66px;
    background:url(../images/bg.png) 0 0 scroll repeat-x transparent;
    box-shadow:0px 6px 6px 0px #666;
    }
#headerCont
{
    width:1000px;
    height:66px;
    margin:0 auto;
    padding:4px 0;
    position:relative;
    }    
    
.logo 
{
    float:left;
    
    }    
.logo span
{
    font-size:18px;
    color:#999;
    border-left:1px solid #d5d5d5;
    padding:6px 0 0 10px;
    position:relative;
    bottom:16px;
    left:10px;
    cursor:default;
    }  
.loginInfo
{
    float:right;
    height:28px;
    line-height:28px;
    padding-right:5px;
    font-size:14px;
    color:#000;
    }
 .loginInfo #head_uname
 {
     color:#F18D00;
     }  
.loginInfo a
{
    color:#000;
    text-decoration:none;
    padding:0 6px;
    border-left:1px solid #d5d5d5;
    margin-left:6px;
    }
.loginInfo a:hover
{
    color:#F18D00;
    text-decoration:underline;
    }    
.actionbar
{
    height:34px;
    width:420px;
    float:right;
    background:url(../images/bg_nav.png) scroll right top no-repeat;
    padding-left:63px;
    margin-bottom:3px;
    position:relative;
    z-index:1111;
    }   
.actionbar ul li
{
    float:left;
    height:30px;
    width:60px;
    text-align:center;
    margin-top:4px;
    margin-right:8px;
    }   
.actionbar ul li:hover
{
    cursor:pointer;
    background:#fff;
    -moz-border-top-left-radius: 3px;
    -khtml-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -khtml-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-bottom-left-radius: -3px;
    -khtml-border-bottom-left-radius: -3px;
    -webkit-border-bottom-left-radius: -3px;
    border-bottom-left-radius: -3px;
    -moz-border-bottom-right-radius: -3px;
    -khtml-border-bottom-right-radius: -3px;
    -webkit-border-bottom-right-radius: -3px;
    border-bottom-right-radius: -3px;
    }    
.actionbar ul li:hover a
{
    color:#F18D00;
    border-bottom:1px solid #F18D00;
    }
.actionbar ul li:hover div a    
{
    color:#999;
    border-bottom:none;
    }
.actionbar ul li a
{
    color:#fff;
    display:block;
    font-size:14px;
    height:28px;
    line-height:28px;
    text-align:center;
    }           
.actionbar .actSon
{
    width:100px;
    height: 32px;
    background:url(../images/bg_navlist.png) 0 0 repeat-x;
    border-bottom: 1px solid #999;
    position: absolute;
    top: 34px;
    right: 270px;
    z-index:3333;
    box-shadow: 2px 2px 5px #666;
    }   
.actionbar .actSon a
{
    color:#666;
    background:none;
    height:16px;
    line-height:16px;
    display:inline-block;
    padding-top:8px;
    }      
.actionbar .actSon a:hover
{
    color:#F18D00;
    text-decoration:underline;
    }    
.nowPlace
{
    color:#F18D00;
    border-bottom:1px solid #FFF;
    }   
    
/*----------------------Item 1---------------*/     
.contentItem1
{
    width:1000px;
    margin:10px auto;
    }

div.slideBox{ position:relative; width:1000px; height:430px; overflow:hidden;}
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox div.tips{ position:absolute; bottom:0px; width:100%; height:50px; background-color:#000; overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
div.slideBox div.tips div.title a{ color:#FFF; font-size:18px; line-height:50px; margin-left:10px; text-decoration:none;}
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
div.slideBox div.tips div.nums a{ display:inline-block; >float:left/*For IE.ADD.JENA.201206300844*/; width:20px; height:20px; background-color:#FFF; text-indent:-99999px; margin:15px 10px 0px 0px;}
div.slideBox div.tips div.nums a.active{ background-color:#093;}
#picBox {
	margin:5px auto;
	}
.item1input
{
    border:0;
    width:200px;
    height:30px;
    color:#fff;
    line-height:30px;
    display:block;
    font-size:16px;
    font-weight:400;
    background:url(../images/bg_btn.png) 0px -250px repeat-x;
    border-radius: 3px;
    margin:5px 25px;
    border-radius: 3px;
    text-decoration:none;
    text-align:center;
    float:left;
    box-shadow:0px 0px 12px 0px #666;
    } 
.item1input:hover
{
     background:url(../images/bg_btn.png) 0px -300px repeat-x;
     cursor:pointer;
    }   
 
/*----------------------Item 2---------------*/  
.mySearchP  
{
    width:1100px;
    margin:0 auto;
    }
.uDefined
{
    width:1100px;
    margin:0 auto;
    }    
.mySearch
{
    color:#478DCD;
    font-size:16px;
    font-weight:bold;
    }
.mySearch:hover
{
    
    text-decoration:underline;
    cursor:pointer;
    }
.item2input
{
    border:0;
    width:225px;
    height:30px;
    color:#fff;
    line-height:30px;
    display:block;
    font-size:16px;
    font-weight:400;
    background:url(../images/bg_btn.png) 0px -250px repeat-x;
    border-radius: 3px;
    margin:5px 0;
    border-radius: 3px;
    }  
.item2input:hover
{
     background:url(../images/bg_btn.png) 0px -300px repeat-x;
     cursor:pointer;
    }      
.contentItem2 .selectBar ul li
{
    float:left;
    width:400px;
    height:20px;
    line-height:20px;
    margin:5px 0;
    }
.contentItem2 .selectBar ul li span
{
    width:90px;
    display:inline-block;
    }    
.contentItem2 .selectBar ul li span input
{
    width:200px;
    height:18px;
    }    
.selectTab
{
    width: 1100px;
    margin: 15px auto;
    border-collapse: collapse;
}

    .selectTab td
    {
        border: 1px solid #CBD6DE;
    }

table td
{
    border-top: 1px solid #CBD6DE;
    border-bottom: 1px solid #ADBECB;
    text-align: center;
	color:#666666; 
}

.tabtitle
{
    background: #478DCD;
    font-size: 14px;
    font-weight: bold;
}
.tabtitle td
{
    color:#FFF;
}
/*----------------------Item 3---------------*/  
#quick
{
    width:1000px;
    margin:2px auto;
    }
#quick span
{
    display:inline-block;
    }    
.mySearchP2  
{
    width:1100px;
    margin:0 auto;
    }    
.uDefined2
{
    width:1100px;
    margin:0 auto;
    }        
#item3Form  ul
{
   display:block;
    width:800px;
    height:30px;
    
    }
/*----------------------Item 4---------------*/  
.contentItem4 .selectBar
{
    width:1100px;
    margin:0 auto;
    }
.contentItem4 .selectBar ul
{
    margin:5px 0;
    }
/*----------------------Item 5---------------*/    
.contentItem5 .selectBar
{
    width:1100px;
    margin:0 auto;
    }
.contentItem5 .selectBar ul li
{
     margin:5px 0;
    }
    /*--弹出--*/
#body_cont{
	width:100%;
	height:100%;
	z-index:5555;
	position:fixed;
	top:0;
	left:0;
	background:#4C4C4C;
	filter: alpha(opacity=60);	/*ie下背景透明*/
	opacity:0.6;	/*FF3.5以上背景透明*/
	text-align:center;
	}
/*--订单确认弹窗----------------------------*/
#btn_tip{
	width:406px;
	height:248px;
	background:#F5F5F5;
	color:#333;
	z-index:9999;
	position:fixed;
	top:40%;
	left:50%;
	margin-top:-93px;
	margin-left:-203px;
	border:1px solid #999;
	border-radius:3px;
	box-shadow:3px 3px 6px 0 #aaa;
	}
#btn_tip #tip_up{
	width:406px;
	height:30px;
	line-height:30px;
	background:#F0F0F0;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	}
#btn_tip #tip_up #tip_title{
	
	padding-left:10px;
	}

#btn_tip #tip_down{
	height:200px;
	}
#tip_down .downCont{
	width:407px;
	height:25px;
	}
#btn_tip #tip_down .tip_title{
	width:119px;
	height:25px;
    line-height:25px;
	border:1px solid #ccc;
	text-align:left;
	float:left;
	}
#btn_tip #tip_down .tip_cont{
	width:273px;
	height:25px;
	float:left;
	border:1px solid #ddd;
	padding-left:10px;
	overflow:hidden;
	}
#TextRealTicketNum
{
    width:100px;
    height:18px;
    line-height:18px;
    font-size:16px;
    border-radius:3px;
    }	
#TextRealTicketNum:focus
{
    background:#F8B994;
    color:#333;
    }
#btn_tip #tip_down .tip_title span{
	padding:1px 10px;
	display:inline-block;
	}	
#ButtonConfirm,#ButtonCancel
{
    display:inline-block;
    float:left;
    border:1px solid #666;
    padding:2px 8px;
    margin-right:10px;
    }	
#ButtonConfirm:hover,#ButtonCancel:hover
{
    background:#F89D68;
    cursor:pointer;
    }
.tipBtn	{
	height:24px;
	font-size:18px;
	line-height:20px;
	width:100px;
	border:1px solid #ccc;
	margin-left:4px;
	}
.tipBtn:hover{
	background:#999;
	}
/*----------------------LinkPage---------------*/
.linkPage
{
    margin-top:10px;
    border:none;
    text-align:right;
    padding-right:10px;
    }
.linkPage
{
    border:0px !important;
}
.linkPage a
{
    display:inline-block;
    color:#9d9d9d;
    border:1px solid #dfdfdf;
    padding:4px 8px;
    font-size:12px;
    margin-top:5px;
    margin-left:5px;
    cursor:pointer;
}   
.linkPage a:hover
{
    background-color: rgb(255, 244, 237);
    border:1px solid rgb(255, 177, 126);
    color:#fff;
    color: rgb(255, 102, 0);
}  
.linkPage a.active
{
    border:0px;
    background:rgb(34, 136, 238);
    color:#FFF;
}
.linkPage a.active:hover
{
    border:0px;
}
  /*---------------------- commentBox----------*/
.commentBox
{
    width:400px;
    height:300px;
    background:#F5F5F5;
    position:fixed;
    left:30%;
    top:24%;
    z-index:7777;
    padding:5px 20px 5px 14px;
    border-radius:3px;
    }  
.commentBox p
{
    font-size:16px;
    font-weight:400;
    height:20px;
    line-height:20px;
    margin:5px 0;
    }    
.commentBox span
{
    color:#F89D68;
    padding:0 8px;
    font-weight:600;
    }    
.commentBox textarea
{
    width:100%;
    height:220px;
    resize: none;
    }    
.commentBox input
{
    margin-top:10px;
    display:inline-block;
    float:left;
    border:1px solid #666;
    padding:2px 8px;
    margin-right:10px;
    }    
.commentBox input:hover
{
    background:#F89D68;
    cursor:pointer;
    }   
    .conmentSpan
{
    padding-left:30px;    
} 