
/*--------------------------------- Conntent */
#content
{
    margin-top:40px;
    }
#left_content{
	width:500px!important;
	height:450px;
	float:left;
	}
#right_content{
	float:right;
	margin-right:30px;
	padding:10px 0;
	width:320px!important;
	border:1px solid #e6e6e6;
	border-radius:3px;
	-moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
	box-shadow:0 3px 3px 0 #666;
	-webkit-box-shadow: 0 3px 3px 0 #666;
    -moz-box-shadow: 0 3px 3px 0 #666;
    -khtml-box-shadow: 0 3px 3px 0 #666;
	}
#right_content p{
	font-size:18px;
	font-weight:normal;
	color:#B77D66;
	padding-bottom:6px;
	margin-bottom:6px;
	padding-left:80px;
	border-bottom:1px solid #d5d5d5;
	}
#errInfo
{
    visibility: hidden;
    cursor:default;
	background:#FDEEE9;
	border:1px solid #EF754B;
	width:188px;
	height:18px;
	line-height:18px;
	margin-left:50px;
	margin-bottom:5px;
	padding:3px 0 3px 10px;
	}
.Nplace,.ninput
{
    margin-left:50px;
    color:#666;
    width:200px;
    height:25px;
    }
#autoLoging,.labAuto,.lostfound
{
    margin-top:10px;
    }
.lostfound
{
    margin-left:20px;
    color:#666;
    text-decoration:underline;
    }  
.lostfound:hover
{
    color:#FF6F00;
    }      
.form_btn
{
    margin-top:10px;
    margin-bottom:10px;
    border:none;
    background:url(../Images/loginA.png) 0 0 no-repeat;
    width:100px;
    height:30px;
    color:#fff;
    cursor:pointer;
    font-size:20px;
    border-radius:2px;
	-moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
	box-shadow:0 2px 0 0 #666;
	-webkit-box-shadow: 0 2px 0 0 #666;
    -moz-box-shadow: 0 2px 0 0 #666;
    -khtml-box-shadow: 0 2px 0 0 #666;
    }
.form_btn:hover
{
    background:url(../Images/loginA.png) 0 -59px no-repeat;
    }
.inpName
{
    cursor:default;
    font-weight:bold;
    color:#666;
    margin-top:6px;
    }
#ImageButton1
{
    position:relative;
    top:8px;
    left:5px;
    }   
