body {
}
.query-condition{
	width:90%;
	margin:0 auto;
	height:150px;
}
.query-condition ul{
	display:block;
	width:100%;
	float:left;
}
.query-condition li{
	list-style:none;
	float:left;
	width:360px;
}
.query-condition li div{
	width:84px;
	float:left;
}
.table {

}
.table td{
	padding:5px !important;
	text-align:center;
}
.btn-query{
	width:80px;
	height:30px;
	line-height:30px;
	padding:0px;
}